<h1 class="title">Products</h1>

<br>
<div class="container">
	<ng-container *ngIf="filteredProductItems$ | async as filteredItems">
		<div class="row">
			<div class="col-md-4">
				<app-filter 
				(filterChange)="filterChangeHandler($event)"
				(checkChange)="checkChangeHandler($event)"
				></app-filter>
			</div>
		</div>
		<div class="container-fluid" *ngIf="filteredItems.length; else noProductsRef">
			<app-pagination [productItems]="filteredItems"></app-pagination>
			<!-- <ng-container *ngFor="let item of filteredItems; let postIndex = index">
				<app-product-item [productItem]="item" [firstPage]="true"></app-product-item>
			</ng-container>-->
		</div>
	</ng-container>
	<ng-template #noProductsRef>
		<div class="row no-post">
			<div class="col">
				Currently, there are no posts or nothing matches the filter.
			</div>
			<div class="col">
				<button class="clear-filter" (click)="clearFilterHandler()">
					Clear filter
				</button>
			</div>
		</div>
	</ng-template>
</div>
